/funcional/tp-funcional
/logico/tp-logico
/funcional/eg-pdp-parcial-maquinitas
*/eg-pdp-parcial-maquinitas
/tp-funcional
/tp-logico
*/tp-funcional
*/tp-logico
.directory
*/.vscode
*/pdp-mgagliardo
/pdp-mgagliardo
pdp-mgagliardo
